@import '../../style/contants.scss';

.wrapper{

    overflow: hidden;
    .container{
        flex-direction: column;
        gap: 2rem;
        .headding{
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            >:nth-child(2){
                text-decoration: underline;
                color: orange;
                cursor: pointer;
            }
        }
        .showCase{
            width: 100%;
            gap: 1.5rem;
            justify-content: space-around;
            flex-wrap: wrap;
            .cardProject{
                @media(max-width: $sm){
                    width: 100%;
                }
                max-width: 25rem;
                max-height: 18rem;
                cursor: pointer;
                .proj_imgbx{
                    position: relative;
                    border-radius: 30px;
                    overflow: hidden;
                    margin-bottom: 24px;
                    &::before {
                        content: "";
                        background: (  rgb(222, 185, 118) 111.58%);
                        opacity: 0.85;
                        position: absolute;
                        width: 100%;
                        height: 0;
                        transition: 0.4s ease-in-out;
                    }
                    &:hover::before {
                        height: 100%;
                    }
                    >img{
                        @media(max-width: $sm){
                            width: 100%;
                        }
                        border-radius: 20px;
                        width: 25rem ;
                        height: 17rem;
                        object-fit: cover;
                        max-width: 25rem;
                        max-height: 18rem;
                        box-shadow: 0px 21px 13px rgba(0,0,0,13%);
                        cursor: pointer;
                    }
                   
                    .proj_txtx {
                        position: absolute;
                        text-align: center;
                        top: 65%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: 0.5s ease-in-out;
                        opacity: 0;
                        width: 100%;
                        h4{
                            font-size: 30px;
                            font-weight: 700;
                            letter-spacing: 0.8px;
                            line-height: 1.1em;     
                        }
                        span{
                            font-style: italic;
                            font-weight: 400;
                            font-size: 15px;
                            letter-spacing: 0.8px;
                        }
                        >div{
                            margin-top: 0.5rem;
                            display: flex;
                           gap: 1rem;
                           justify-content: center;
                           align-items: end;
                           color: inherit;
                           >a{
                            text-decoration: none;
                            color: inherit;
                            font-size: medium;
                            &:hover{
                                color: $secondary ;
                                text-decoration: underline;
                            }
                           }
                         
                        }
                      }
                      &:hover .proj_txtx {
                        top: 50%;
                        opacity: 1;
                      }

                }
            }
         
        }
    }
}