@import '../../style/contants.scss';
.wrapper{
    background-color: white;
    .container{
        align-items: flex-start;
        gap: 2rem;
        flex-wrap: wrap;
        >div{
            flex: 1;
        }
        .leftSide{
            display: flex;
            flex-direction: column;
            gap:2rem;
            .exp{
                display: flex;
                align-items: center;
                border: 1px solid $secondary-white;
                border-radius: 20px;
                padding: 1.5rem;
                gap: 2rem;
                transition: all 200ms ease-out;
                &:hover{
                    cursor: pointer;
                    box-shadow: 0px 21px 13px rgba(0,0,0, 0.4);
                }
                // icon circle 
                >:nth-child(1){
                    padding: 10px;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                   
                }
                // description 
                >:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    >:nth-child(1){
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                   
                }
            }
        }
        .rightSide{
            @media (max-widt: $sm) {
             text-align: center;   
            }
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
            .stats{
                justify-content: center;
                gap: 4rem;
                .stat{
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
        }
    }
}