@import '../../style/global.scss';

.wrapper{
    .container{
        flex-direction: column;
        gap: 2rem;

        .experiences{
            width: 100%;
            flex-direction:column;
            gap: 1.4rem;
            position: relative;

            .exp{
                width: 100%;
                justify-content: space-between;
                line-height: 40px;
                align-items: flex-start;

                >div{
                    flex: 1;
                }
                .role{
                    margin-left:2rem ;
                }
            }
        }
    }
}